{% extends "base_website.html" %}

{% block title %} {% endblock %}

{% block content %}

  <div class="jumbotron ws_banner" style=" color: #000; padding:0;">
      <div class="container" style=" padding:0;">
          <div class="row">
              <div class="col-md-6 single_game_index" style="padding: 10px">
                  <img src="/static/images/illustration_test_1.jpg" style="width: 577px" />
                  <h1>Пила</h1>
                  <p class="game_main_desc">
                  Краткое описание квеста. Почему я должна прийти именно к вам на этот квест, если
                  такой же есть у клаустрафобии? Чем вы лучше? В чём фишка?
                  </p>
                  <img src="/static/images/man.png" />
                  <img src="/static/images/man.png" />
                  <img src="/static/images/man.png" />
                  <p style="background: #000; color:#fff; width: 300px; padding: 0 0 0 10px; margin:0px;">БЛИЖАЙШИЙ КВЕСТ:</p>
                  <p style="font-size: 17px; margin: 0 0 0 10px;">18 Октября 16:30. 
                  <span><a href="#" style="color:red; margin: 0 0 0 100px; text-decoration: underline" >Записаться</a></span>
                  </p>
              
              
              </div>
              
              
              <div class="col-md-6 single_game_index" style=" padding: 10px">
                  <img src="/static/images/illustration_test_2.jpg" style="width: 577px" />
                  <h1>Китайский квартал</h1>
                  <p class="game_main_desc">
                  Краткое описание квеста. Почему я должна прийти именно к вам на этот квест, если
                  такой же есть у клаустрафобии? Чем вы лучше? В чём фишка?
                  </p>
                  <img src="/static/images/man.png" />
                  <img src="/static/images/man.png" />
                  <img src="/static/images/man.png" />
                  <img src="/static/images/man.png" />
                  
                  <p style="background: #000; color:#fff; width: 300px; padding: 0 0 0 10px; margin:0px;">БЛИЖАЙШИЙ КВЕСТ:</p>
                  <p style="font-size: 17px; margin: 0 0 0 10px;">Сегодня 15:45. 
                  <span><a href="#" style="color:red; margin: 0 0 0 123px; text-decoration: underline" >Записаться</a></span>
                  </p>
              
              
              </div>
          </div>
     </div>
  </div>
  
  <div class="container" style=" padding:0; text-align: center; color:#000;">
  <h2>Варшавское шоссе 1. Бизнес центр W Плаза. <br/>
  lost@lostrooms.ru</h2>
  </div>
  <div style=" filter: grayscale(100%);" class="container">
 <img src="/static/images/map.png" style="width:100%; "/></div>

  
{% endblock %}